<article class="post">
  <section class="post-head">
    <h2><%= link_to post.title, post_path(post) %></h2>
    <span>
      <time><%= post.created_at.to_date.strftime("%d %B, %Y") %></time>
      |
      <% if post.published? %>
        <span class="badge rounded-pill bg-primary">Опубликовано</span>
        |
        <span class="upRate" style="color: green"> + <%= post.up_rate.length %></span>
        /
        <span class="downRate" style="color: red">- <%= post.down_rate.length %></span>
        |
      <% else %>
        <span class="badge rounded-pill bg-secondary">Черновик</span>
      <% end %>
      Автор статьи: <span class="badge bg-secondary"><%= post.user.username %></span>
      <% if current_user && current_user.id == post.user_id %>
      |
      <%= link_to 'Изменить', edit_post_path(post) %>
      |
      <%= link_to 'Удалить', post_path(post), method: :delete, data: { confirm: 'Вы уверены?' } %>
      <% end %>
      </span>
  </section>

  <section class="post-summary clearfix">
    <%= image_tag post.image.url(:thumb), class: 'img-thumbnail thumb' if post.image? %>
    <%= post.summary %>
  </section>
</article>
