<article class="post">
  <section class="post-head">
    <h1><%= @post.title %></h1>
    <span>
      <time><%= @post.created_at.to_date.strftime("%d %B, %Y") %></time>
      |
      <% if @post.published? %>
        <span class="badge rounded-pill bg-primary">Опубликовано</span>
        |
        <span class="upRate" style="color: green"> + <%= @post.up_rate.length %></span>
        /
        <span class="downRate" style="color: red">- <%= @post.down_rate.length %></span>
        |
      <% else %>
        <span class="badge rounded-pill bg-secondary">Черновик</span>
      <% end %>
      Автор статьи: <span class="badge bg-secondary"><%= @post.user.username %></span>
      <% if current_user %>
        <% if current_user.id == @post.user_id || current_user.role != "user" %>

          |
          <%= link_to 'Изменить', edit_post_path(@post) %>
          |
          <%= link_to 'Удалить', post_path(@post), method: :delete, data: { confirm: 'Вы уверены?' } %>
        <% end %>
      <% end %>

    </span>
  </section>

  <section class="post-body">
    <%= image_tag @post.image.url(:large), class: 'img-show' if @post.image? %>
    <%= @post.body %>
  </section>
  <% if @post.published? %>
    <div class="btn-group">
    <%= button_to "Нравится", post_up_rate_path(@post.id), :method => :get, :class => "btn btn-outline-success btn-sm", :disabled => !current_user %>
    <%= button_to "Не нравится", post_down_rate_path(@post.id), :method => :get, :class => "btn btn-outline-danger btn-sm", :disabled => !current_user %>
    </div>
  <% end %>
</article>

<h3>Все комментарии</h3>
<% if @post.comments.length < 1 %>
  <br>
  <p><span>Пока нет комментариев</span></p>
  <br/>
<% end %>

<article class="comment">
<% @post.comments.each do |comment| %>
  <div class="form-group">
        <span class="badge bg-secondary"><%= comment.username %></span>: <%= comment.body %>
    <div class="buttons">
      <% if current_user && (current_user.id == comment.author_id || current_user.role == ("admin" && "moderator")) %>
        <%= link_to "Удалить", [comment.post, comment], method: :delete,
                  data: { confirm: 'Хотите удалить комментарий?' }
        %>
      <% end %>
    </div>
  </div>
<% end %>
</article>

<% unless current_user %>
  <div>
    Авторизуйтесь, чтобы оценивать посты и оставлять комментарии.
  </div>
<% end %>


<% if current_user %>
  <h3>Добавить комментарий</h3>
  <%= form_for [@post, @post.comments.build] do |f| %>

    <div class="form-group">
      <%= f.label :'Текст комментария' %>
      <%= f.text_area :body, class: 'form-control', rows: '5' %>
    </div>

    <div class="form-group">
      <%= f.submit 'Отправить', class: 'btn btn-success' %>
    </div>
  <% end %>
<% end %>